@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Trykker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Trykker", serif;
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: #faf5ef;
  color: #8d7b67;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.main-menu {
  --text-opacity: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(154, 165, 177, var(--text-opacity));
  transition: all 0.3 ease-out;
  transition-duration: 0.3s;
}

.main-menu:hover {
  color: #8d7b67;
  transition: all 0.3 ease-in;
  transition-duration: 0.3s;
}

.active-menu .main-menu,
.active-menu > .main-menu {
  color: #8d7b67;
}

#hs-navbar-example {
  transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
}

header {
  transition: all 0.3s ease-in-out;
}

.sticky-animate {
  transform: translateY(0);
  opacity: 1;
}

.sticky-animate-reverse {
  transform: translateY(0px);
  opacity: 0.9;
}

/* Sweet alert Popup */
.custom-swal-popup {
  background-color: #faf5ef;
}

.custom-swal-title {
  color: #8d7b67;
}

.custom-swal-text {
  color: #8d7b67;
  font-weight: 500;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border: 0.25em solid #8d7b67;
}

select#countries:focus-visible {
  outline: none;
  border: 1px solid #8d7b67;
}

.eapps-widget-toolbar-panel-wrapper {
  display: none;
}